emp_address/Service Descriptors/empaddress.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.EniqueSolutions/empaddress/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="empaddress" targetNamespace="http://www.EniqueSolutions/empaddress/" xmlns:xsd1="http://www.example.org/empaddress" xmlns:xsd2="http://www.EniqueSolutions/EmployeeDetailPOC/MainSystem">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.EniqueSolutions/empaddress/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/empaddress"
    		schemaLocation="../../CommonLog/Schemas/empaddress.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.EniqueSolutions/EmployeeDetailPOC/MainSystem"
    		schemaLocation="../../CommonLog/Schemas/MainSystem.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="xsd2:empaddressReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="xsd2:RestResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="empaddress">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="empaddressSOAP" type="tns:empaddress">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.EniqueSolutions/empaddress/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="empaddress">
    <wsdl:port binding="tns:empaddressSOAP" name="empaddressSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
